<main class="page__main">
    <section class="main__section">

        <div class="title__container">
            <i class="tv__icon fas fa-file-video"></i>
            <h1 class="main__title">Buscador de series</h1>
        </div>

        <p class="main__text">Utiliza el buscador para encontrar tus serie favoritas.
        </p>

        <div class="search__box">
            <input type="text" name="search__input" class="form__input form">
            <button class="button__input form" type="button">Buscar</button>
        </div>

        <div class="favorite__container">
            <div class="favorite__title--container">
                <i class="favorite__icon fas fa-crown"></i>
                <h2 class="favorite__main--title">Mis series favoritas</h2>
            </div>
            <ul class="favorite__list"></ul>

        </div>
    </section>

    <section class="results__container">
        <h2 class="results__main--title hidden">Resultado de la búsqueda</h2>
        <ul class="results__list"></ul>
    </section>

</main>