<main class="page__main">
    <div class="form__container">
        <h1 class="form__title">Buscador de series</h1>
    </div>

    <div class="search__box">
        <input type="text" name="search__input" class="form__input form">
        <button class="button__input form" type="button">Buscar</button>
    </div>

    <section class="results__container">
        <ul class="results__list"></ul>
    </section>

    <section class="favorites__series">
        <ul class="favorites__series"></ul>
    </section>
</main>