.favorite__container {
    margin-top: 20px;
}

.favorite__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.favorite__title--container {
    display: flex;
    align-items: center;
}

.favorite__icon {
    margin-right: 10px;
    font-size: 20px;
}

.favorite__main--title {
    font-size: 20px;
}

.trash__icon {
    margin: 10px 10px;
    justify-self: flex-end;
    visibility: hidden;
}

.favorite__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;


    &:hover .trash__icon {
        visibility: visible;  
    }

    &:hover {
        background-color: $removeBackground; 
        cursor: pointer;
        animation-name: move-ifhover;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
    }
}

@keyframes move-ifhover {
    0% {
        transform: rotate(1deg);
    } 50% {
        transform: rotate(-1deg);
    } 100% {
        transform: rotate(1deg);
    }
}

.favorite__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    margin: 0 0 0 10px;
}

.favorite__img {
    min-height: 100px;
    min-width: 72px;
    background-size: cover;
    background-color: white;
}