.results__main--title {
    font-size: 18px;
}

.results__list {
    list-style: none;
    display: grid;
    padding: 0;
    grid-template-columns:repeat(auto-fill, 295px);
    grid-gap: 10px;
    margin: 0 auto;
}

.result__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 20px;
   

    &:hover {
        box-sizing: border-box;
        background-color: $favoriteBackground;
        color: $mainColor;
        box-shadow: 5px 5px 10px rgba(black, 0.50);
    }
}

.results__image {
    height: 295px;
    width: 210px;
}

.list__title {
    margin: 0;
}

.favorite__show {
    background-color: $favoriteBackground;
    color: $mainColor;
}