.results__list {
    list-style: none;
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: 350px;
}

.results__image {
    height: 295px;
    width: 210px;
}

.favorite__show {
    background-color: lightblue;
    color: blue;
}