.body__page {
    background: #1b1b1c;
    height: 100vh;
    margin: 0;
    font-family: $fontFamily;
    color: white;
}

.page__main {
    display: flex;
    height: 100%;
}

.main__section {
    box-sizing: border-box;
    padding: 0 20px;
    min-width: 300px;
}

.results__container {
    background-color: #1b1b1c;;
    flex-grow: 1;
    overflow: scroll;
}

.form {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    height: 30px;
    font-family: $fontFamily;

    &:first-child {
    margin-bottom: 20px;
    }
}

.button__input {
    background-color: $mainColor;
    color: white;
}

.form__input{
    padding: 10px;
}